<h1> Table of All Microbreweries in the Database</h1>
<table id="table_id">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Permit Number</th>
                <th>E-mail</th>
            </tr>
        </thead>
</table>
<script src="js/table.js"></script>
