<h1> Table </h1>
<table id="table_id">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adress</th>
                <th>Ville</th>
                <th>CP</th>
                <th>#Permis</th>
                <th>Courriel</th>
            </tr>
        </thead>
</table>
<script src="js/table.js"></script>
